* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;
 
}
nav {
  display : flex;
  align-items: center;
  background-color: #21222A;
  padding: 30px 25px;
  height: 90px;
}
.nav-text, .nav-title {
  margin: 0;
}
.nav-text {
  color: #61DAFB;
  margin-right: auto;
  font-weight: 700;
  font-size: 25px;
}

.nav-title {
  color: #DEEBF8;
    font-weight: 600;
    font-size: 20px;
}
.nav-icon {
  height: 40px;
  margin-right: 10px;
}
main {
  padding: 57px 27px;
  color: white;
  background-image: url(./reactjs-icon2.png);
  background-position: bottom right;
  background-repeat: no-repeat;
 
}
.facts {
  text-align: center;
  font-size: 40px;
  letter-spacing: -0.05em;
 
  
}
.facts-list {
 display: block;
 width: 50%;
 margin: auto;
 line-height: 50px;
 font-size: 22px;
}
.facts-list > li::marker {
    color: #61DAFB;
    font-size: 1.8rem;
}